:root {
    --header-height: 3.5rem; /*56px*/
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --hue: 152;
    --first-color: hsl(var(--hue), 24%, 32%);
    --first-color-alt: hsl(var(--hue), 24%, 28%);
    --first-color-light: hsl(var(--hue), 24%, 66%);
    --first-color-lighten: hsl(var(--hue), 24%, 92%);
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 35%);
    --text-color-light: hsl(var(--hue), 4%, 55%);
    --container-color: #FFF;
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

*{
    padding:0;
    margin:0;

}


body{
    background:white;
    box-sizing:border-box;
}

.header {
    width: 100%;
    background-color: #FFFF;
    position: relative;
    top: 0;
    left: 0;
   
    transition: .4s; /*For animation dark mode*/
   
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav__logo,
.nav__toggle,
.nav__close {
    color: var(--title-color);
}

.nav__menu ul {
        display: flex;
        text-decoration: none;
        list-style: none;
        align-items:center;
      
    }

.nav__logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: .3s;
}

.nav__logo-icon {
    font-size: 1.15rem;
    color: var(--first-color);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}



.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
    margin-right:25px;

    

}

    .nav__link:hover {
        color: var(--first-color);
    }









/*=============== HOME ===============*/
.home {
    padding: 0;
    padding-left: 40px;
    display: block;
    background-color: #0F1713;
    background-size: cover;
    height: 100vh;
}

.home .First-Box{
    padding:20px;
    display:flex;
    align-items:center;
    height:45vh;
}

    .home .Second-Box {
        padding: 20px;
        display: flex;
        color: #FFEEC2;
        height: 50vh;
    }

        .home .Second-Box .image-box {
            width: 10%;
            height: 80%;
           
            margin-right: 70px;
            color: #FFEEC2;
        }

            .home .Second-Box .image-box img {
                margin-bottom: 15px;
                border-radius: 10px;
            }

    .home .First-Box .Image-box {
        width: 10%;
        height: 80%;
       
        color: #FFEEC2;
    }

        .home .First-Box .Image-box img {
            margin-bottom: 15px;
            border-radius: 10px;
        }

                .home .First-Box form {
                    width: 62%;
                    color: white;
                    padding-left: 40px;
                }
        .home .First-Box form h1 {
            color: white;
        }

        .home .First-Box form input {
            width: 59%;
            height:30px;
            border-radius:20px;
            border:none;
            padding:10px;
            margin-right:0;
            margin-bottom:30px;
            margin-top:20px;
        }

      .home .First-Box form button{
          padding: 5px 10px;
        border-radius: 10px;
        background-color: var(--first-color);
         color: #FFF;
         }
    