:root {
    --header-height: 3.5rem; /*56px*/
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --hue: 152;
    --first-color: hsl(var(--hue), 24%, 32%);
    --first-color-alt: hsl(var(--hue), 24%, 28%);
    --first-color-light: hsl(var(--hue), 24%, 66%);
    --first-color-lighten: hsl(var(--hue), 24%, 92%);
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 35%);
    --text-color-light: hsl(var(--hue), 4%, 55%);
    --container-color: #FFF;
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}



body{
    background:white;
}

.header {
    width: 100%;
    background-color: #FFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .4s; /*For animation dark mode*/
    border: 1px solid black;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.nav__logo,
.nav__toggle,
.nav__close {
    color: var(--title-color);
}



    .nav__menu ul {
        display: flex;
        text-decoration: none;
        list-style: none;
        align-items:center;
      
    }

.nav__logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: .3s;
}

.nav__logo-icon {
    font-size: 1.15rem;
    color: var(--first-color);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}



.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
    margin-right:25px;

    

}

    .nav__link:hover {
        color: var(--first-color);
    }

.nav__menu{
    border:1px solid black;
    
}



.section-books {
    width:100%;
    height:100vh;
    background: #0F1713;
}
/*=============== BUTTONS ===============*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

    .button:hover {
        background-color: var(--first-color-alt);
    }

.button__icon {
    transition: .3s;
}

.button:hover .button__icon {
    transform: translateX(.25rem);
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.button--link {
    color: var(--first-color);
    font-weight: var(--font-medium);
}

    .button--link:hover .button__icon {
        transform: translateX(.25rem);
    }


/*=============== ABOUT ===============*/
.about__container {
    row-gap: 2rem;
}

.about__img {
    border-radius: 15px;
    width: 280px;
    justify-self: center;
}

.about__title {
    margin-bottom: var(--mb-1);
}

.about__description {
    margin-bottom: var(--mb-2);
    font-size: 1.25rem;
}

.about__details {
    display: grid;
    row-gap: 1rem;
    margin-bottom: var(--mb-2-5);
}

.about__details-description {
    display: inline-flex;
    column-gap: .5rem;
    font-size: 1.25rem;
}

.about__details-icon {
    font-size: 1.25rem;
    color: var(--first-color);
    margin-top: .15rem;
}


/*=============== STEPS ===============*/
.steps__bg {
    background-color: var(--first-color);
    padding: 3rem 2rem 2rem;
    border-radius: 1rem;
}

.steps__container {
    gap: 2rem;
    padding-top: 1rem;
}

.steps__title {
    color: #FFF;
}

.steps__card {
    background-color: var(--container-color);
    padding: 2.5rem 3rem 2rem 1.5rem;
    border-radius: 1rem;
}

.steps__card-number {
    display: inline-block;
    background-color: var(--first-color-alt);
    color: #FFF;
    padding: .5rem .75rem;
    border-radius: .25rem;
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1-5);
    transition: .3s;
}

.steps__card-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.steps__card-description {
    font-size: var(--small-font-size);
}

.steps__card:hover .steps__card-number {
    transform: translateY(-.25rem);
}
