@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<style>

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f2f2f2;
    }

    a {
        text-decoration: none;
        color: blue;
    }

        a:hover {
            text-decoration: underline;
        }

</style>

<section class="book-sale" style="margin-top: 25px;">
    <h3 style="text-align: center; margin-top: 25px;">Book Sale</h3>
    <hr style="width: 10%; margin: 0 auto; margin-bottom: 25px;" />
    <table>
        
        @foreach (var b in ViewBag.Library)
        {
            <tr>
                <td><p>@b.Title</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price $</p></td>
                
            </tr>
        }
    </table>
</section>
