@{
    ViewBag.Title = "Home Page";
}

<main>
    <link rel="stylesheet" href="~/Content/Site.css" />
   <section class="main-page">
       <div class="main-box">
           <div class="image-box">
               <p>Hello</p>
           </div>
       </div>
   </section>
</main>