@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="~/Content/Site.css" />
<script src="~/Scripts/Script.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<body>

    <section class="home" id="home">
        <div class="First-Box">
            <div class="Image-box">
                <img src="~/Content/Images/2.jpg" id="getBookButton" width="100%">
                <p>Lorer Hety</p>
            </div>
            <form>
                <h1> Welcome to the Web-Library</h1>
                <input placeholder="Search" />
                <button>S</button>
                <p>
                    Explore our extensive web site library, featuring a diverse <br />
                    collection of resources tailored to meet your needs.
                </p>
            </form>

            <div class="Image-box" style="margin-right:70px;">
                <img src="~/Content/Images/3.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="Image-box">
                <img src="~/Content/Images/6.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>
        </div>

        <hr>

        <div class="Second-Box">

            <div class="image-box">

                <img src="~/Content/Images/d5bazwrc.png" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/5.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/7.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/d5bazwrc.png" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/4.png" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/3.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/7.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

        </div>




    </section>


    <div class="book-sale">
        <h3 style="text-align:center; margin-bottom:25px; margin-top:25px;">Распродажа книг</h3>
        <table>
            <tr>
                <td><p>Название книги</p></td>
                <td><p>Автор</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                </tr>
            }
        </table>
    </div>






</body>