@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

@model WEB_Library.Models.Book
    
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="~/Content/Site.css" />
<script src="~/Scripts/Script.js"></script>
<body>

    <section class="home" id="home">
        <div class="First-Box">
            <div class="Image-box">
                <img src="~/Content/Images/2.jpg" id="getBookButton" width="100%">
                <p>@Model</p>
            </div>
            <form>
                <h1> Welcome to the Web-Library</h1>

                <input type="text" id="searchInput" placeholder="Search" />
                <button id="searchButton" >S</button>
                <p>
                    Explore our extensive web site library, featuring a diverse <br />
                    collection of resources tailored to meet your needs.
                </p>
            </form>

            <div class="Image-box" style="margin-right:70px;">
                <img src="~/Content/Images/3.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="Image-box">
                <img src="~/Content/Images/6.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>
        </div>

        <hr>

        <div class="Second-Box">

            <div class="image-box">

                <img src="~/Content/Images/d5bazwrc.png" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/5.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/7.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/d5bazwrc.png" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/4.png" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/3.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/7.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

        </div>


    </section>


    <div id="bookInfo">
        <h2 id="bookTitle"></h2>
        <img id="bookImage" src="" alt="">
    </div>

    <div id="bookDetails">
        <h2>@Model</h2>
    </div>
    <div id="bookDetails"></div>


</body>