<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--main css-->
    <link rel="stylesheet" href="~/Content/shop.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">


</head>
<body>


    <!-- Modal -->
    <div class="modal fade lug" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li><a href="#"><img src="images/flag-up-1.png" alt="" /> United States</a></li>
                        <li><a href="#"><img src="images/flag-up-2.png" alt="" /> France </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content-product">
        <div class="main-product">
            <div class="container">
                <div class="row clearfix">
                    <div class="find-box">
                        <h1>Find your next product or<br>business partner here.</h1>
                        <h4>It has never been easier.</h4>

                    </div>
                </div>


                <div class="row clearfix">
                    <div class="col-lg-3 col-sm-6 col-md-3">
                        <a href="productpage.html">
                            <div class="box-img">
                                <h4>Comedy</h4>
                                <img src="~/Content/Images/3.jpg" alt="" / width="38%">
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-sm-6 col-md-3">
                        <a href="productpage.html">
                            <div class="box-img">
                                <h4>Fantasy</h4>
                                <img src="~/Content/Images/2.jpg" alt="" / width="38%">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-3">
                        <a href="productpage.html">
                            <div class="box-img">
                                <h4>Biography</h4>
                                <img src="~/Content/Images/4.png" alt="" / width="38%">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-3">
                        <a href="productpage.html">
                            <div class="box-img">
                                <h4>Fantasy</h4>
                                <img src="~/Content/Images/5.jpg" alt="" / width="38%">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-3">
                        <a href="productpage.html">
                            <div class="box-img">
                                <h4>Fantasy</h4>
                                <img src="~/Content/Images/6.jpg" alt="" / width="38%">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-3">
                        <a href="productpage.html">
                            <div class="box-img">
                                <h4>Fantasy</h4>
                                <img src="~/Content/Images/7.jpg" alt="" / width="38%">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-3">
                        <a href="productpage.html">
                            <div class="box-img">
                                <h4>Fantasy</h4>
                                <img src="~/Content/Images/d5bazwrc.png" alt="" / width="38%">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-3">
                        <a href="productpage.html">
                            <div class="box-img">
                                <h4>Fantasy</h4>
                                <img src="~/Content/Images/2.jpg" alt="" / width="38%">
                            </div>
                        </a>
                    </div>
                    <div class="categories_link">
                        <a href="#">Browse all categories here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>