<header class="header" id="header">
    <nav class="nav container">
        <a href="index.html" class="nav__logo">
            WEB-Library
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="index.html" class="nav__link active-link">Main Page</a>
                </li>
                <li class="nav__item">
                    <a href="#about" class="nav__link">About</a>
                </li>
                <li class="nav__item">
                    <a href="catalog.html" class="nav__link">Shop</a>
                </li>
                <li class="nav__item">
                    <a href="#faqs" class="nav__link">Contact</a>
                </li>
                <li class="nav__item">
                    <a href="log.html" class="nav__link">Admin Page</a>
                </li>
            </ul>


        </div>


    </nav>
</header>
