@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}
<link rel="stylesheet" href="~/Content/Site.css" />
<body>
    




    <!--==================== HOME ====================-->
    <section class="home" id="home">
        <div class="First-Box">
            <div class="Image-box">
                <img src="~/Content/Images/2.jpg" / width="100%">
                <p>Lorer Hety</p>
            </div>
            <form>
                <h1> Welcome to the Web-Library</h1>
                <input placeholder="Search" />
                <button>S</button>
                <p>
                    Explore our extensive web site library, featuring a diverse <br />
                    collection of resources tailored to meet your needs.
                </p>
            </form>

            <div class="Image-box" style="margin-right:70px;">
                <img src="~/Content/Images/3.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="Image-box">
                <img src="~/Content/Images/6.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>
        </div>

        <hr>

        <div class="Second-Box">

            <div class="image-box">

                <img src="~/Content/Images/d5bazwrc.png" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/5.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/7.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/d5bazwrc.png" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/4.png" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/3.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

            <div class="image-box">
                <img src="~/Content/Images/7.jpg" width="100%">
                <p>Lorer Hety</p>
            </div>

        </div>

    </section>

    





</body>